body {
  font-family: 'Merriweather Sans', sans-serif;
}

/* Navbar */
.navbar {
  padding: 30px 0;
  border-bottom: 1px dotted #d9d9d9;
}

.navbar .navbar-brand {
  font-size: 1.1rem;
  font-weight: bold;
  color: #00aeef;
  letter-spacing: .15rem;
}

.navbar .navbar-brand:hover {
  color: #00aeef;
}

.navbar {
  background-color: #f2f2f2 !important;
}

.navbar .navbar-nav li a {
  color: #000 !important;
}

.navbar .navbar-nav li a:hover {
  color: #00aeef !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/* Services Section */

#services {
  padding: 40px 80px;
  background-color: #00aeef;
  text-align: center;
}

.services-column {
  padding: 2% 2%;
}

.our-services {
  color: #fff;
}

/* Company Logos */

#Company-logo {
  text-align: center;
  padding-bottom: 4%;

}

.company-logo {
  width: 10%;
  margin: 40px 20px;
}

/* footer */

#footer {
  padding: 40px 80px 20px;
  text-align: center;
  background-color: #00aeef;
  Color: #fff;
}

.social-icon {
  margin: 20px 10px;
  color: #fff;
}

.copyright {
  font-size: 12px;
}
